<div class="filter">
  <div class="container">
    <%= form_tag(pieces_path, method: "get", name: "list", id: "colour-form", remote: true ) do %>
      <% Piece::COLOURS.each do |colour| %>
        <% if  @colour && (@colour[:colour].include? colour) %>
          <%= check_box_tag("colour[colour][]", colour, true, :onclick => "javascript: document.list.submit();") %>
        <% else %>
          <%= check_box_tag("colour[colour][]", colour, false, :onclick => "javascript: document.list.submit();") %>
        <% end %>
        <%= label_tag(:colour, colour) %>
      <% end %>
      <br />
      <% Piece::UK_SIZES.each do |size| %>
        <% if  @size && (@size[:size].include? size.to_s) %>
          <%= check_box_tag("size[size][]", size, true, :onclick => "javascript: document.list.submit();") %>
        <% else %>
          <%= check_box_tag("size[size][]", size, false, :onclick => "javascript: document.list.submit();") %>
        <% end %>
        <%= label_tag(:size, size) %>
      <% end %>
      <br />
        <% if  params.key?('available') && params[:available] == true.to_s %>
          <%= check_box_tag("available", true, true, :onclick => "javascript: document.list.submit();") %>
        <% else %>
          <%= check_box_tag("available", true, false, :onclick => "javascript: document.list.submit();") %>
        <% end %>
        <%= label_tag('Available now') %>
    <% end %>
  </div>
</div>
