<div class="piece_form">
  <%= form_for @piece do |f| %>

    <ul>
       <% @piece.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
    </ul>

    <div class="inputfield">
      <div class="label"><%= f.label :product_type %></div>
      <div class="field typefield"><%= f.select :product_type, Piece::TYPES.collect { |type| [ type, type ] } %></div>
    </div>

    <% if f.object.product_type %>
      <% subtypes = Object.const_get( "Piece::" + "SUB_" + f.object.product_type.upcase ) %>
    <% else %>
      <% subtypes = Piece::SUB_DRESS %>
    <% end %>

    <div class="inputfield">
      <div class="label"><%= f.label :sub_type %></div>
      <div class="field subfield"><%= f.select :sub_type, subtypes.collect { |type| [ type, type ] } %></div>
    </div>

    <div class="inputfield">
      <div class="label"><%= f.label :name %></div>
      <div class="field"><%= f.text_field :name %></div>
    </div>

    <div class="inputfield">
      <div class="label"><%= f.label :brand %></div>
      <div class="field"><%= f.text_field :brand %></div>
    </div>

    <div class="inputfield">
      <div class="label"><%= f.label :description %></div>
      <div class="field"><%= f.text_field :description %></div>
    </div>

    <div class="inputfield">
      <div class="label"><%= f.label :image %></div>
      <div class="field"><%= f.file_field :image %></div>
    </div>

    <div class="inputfield">
      <div class="label"><%= f.label :image_b %></div>
      <div class="field"><%= f.file_field :image_b %></div>
    </div>

    <div class="inputfield">
      <div class="label"><%= f.label :size %></div>
      <div class="field">
      <% if user_signed_in? %>
        <%= f.select :size, Piece::UK_SIZES.collect { |size| [ size, size ] }, selected: current_user.profile.size %></div>
      <% else %>
        <%= f.select :size, Piece::UK_SIZES.collect { |size| [ size, size ] }, selected: 12 %></div>
      <% end %>
    </div>

    <div class="inputfield">
      <div class="label"><%= f.label :colour %></div>
      <div class="field"><%= f.select :colour, Piece::COLOURS.collect { |col| [ col, col ] }, value: (current_user ? current_user.profile.size : 10)  %></div>
    </div>

    <div class="inputfield">
      <div class="label"><%= f.label 'Start date' %></div>
      <div class="field"><%= f.date_field :begin_date, value: Time.now.strftime('%Y-%m-%d')  %></div>
    </div>

    <div class="inputfield">
      <div class="label"><%= f.label 'End date' %></div>
      <div class="field"><%= f.date_field :end_date  %></div>
    </div>


    <div class="inputfield">
      <div class="label"><%= f.label :price_cat %></div>
      <div class="field"><%= f.select :price_cat, [['1','1'],['2','2'],['3','3'],['4','4'],['5','5']] %></div>
    </div>

    <div class="label">
    <%= f.hidden_field(:image_cache) %>
    <%= f.hidden_field(:image_b_cache) %>
    </div>

    <%= f.submit (@piece.new_record? ? "Bring it online" : "Update your item") %>

  <% end %>
</div>
