<div class="item">
  <% if user_signed_in? && piece.size == current_user.profile.size %>
    <div class="sizeoval fit">
  <% else %>
    <div class="sizeoval">
  <% end %>
      <p><%= piece.size %></p>
    </div>
  <div class="infotag">
    <% if user_signed_in? && current_user.hearts.ids.include?(piece.heart.id) %>
      <a id="heart-<%= piece.heart.id %>" href="#" class="fa fa-heart"></a>
    <% elsif user_signed_in? %>
      <a id="heart-<%= piece.heart.id %>" href="#" class="fa fa-heart-o"></a>
    <% end %>
    <div class="name_item"><%= link_to "#{piece.name}", piece_path( piece.id ) %></div>
    <div class="brand_item"><%= piece.brand %></div><br/>
    <%= piece.colour %><br/>
  </div>
  <div class="namebar">
    <div class="nametag">
      <%= piece.user.profile.first_name %> <%= piece.user.profile.surname %><br/>
    </div>
    <div class="towntag">
      <%= piece.user.profile.addr_town %>
    </div>
    <div class="profile_picture_bar">
      <%= link_to cl_image_tag(piece.user.profile.avatar, width: 40, height: 40, crop: :fill, gravity: :face, radius: :max, background: '#353535' ), profile_path(piece.user.profile.id), method: :get  %>
    </div>
  </div>
  <div class="img_preview">
    <%= link_to image_tag(piece.image), piece_path( piece.id ), method: :get %>
  </div>
</div>
