<div class="item">
  <% if user_signed_in? && piece.size == current_user.profile.size.to_s %>
    <div class="sizeoval fit"><p><%= piece.size %></p></div>
  <% else %>
    <div class="sizeoval"><p><%= piece.size %></p></div>
  <% end %>

  <div class="infotag">
    <% if user_signed_in? && current_user.hearts.ids.include?(piece.heart.id) %>
      <a id="heart-<%= piece.heart.id %>" href="#" class="fa fa-heart" data-remote="true"></a>
    <% elsif user_signed_in? %>
      <a id="heart-<%= piece.heart.id %>" href="#" class="fa fa-heart-o" data-remote="true"></a>
    <% end %>
    <div class="name_item"><%= link_to "#{piece.name}", piece_path( piece.id ), method: :get %></div>
    <div class="brand_item"><%= piece.brand %></div><br/>
    <%= piece.sub_type %><br/>
    <%= piece.colour %><br/>
  </div>
  <div class="namebar">
    <div class="nametag">
      <%= link_to (piece.user.profile.first_name+" "+ piece.user.profile.surname), profile_path(piece.user.profile.id), method: :get %><br/>
    </div>
    <div class="towntag">
      <%= piece.user.profile.addr_town %>
    </div>
    <div class="distancebar">
      <div town="<%= piece.user.profile.addr_town %>" id="distance-<%= piece.id %>" class="<%= piece.user.profile.addr_town %>">
        <script type="text/javascript">
          getDistance( $('#distance-<%= j piece.id.to_s %>').attr('town') );
        </script>
      </div>
    </div>
    <div class="profile_picture_bar">
      <%= link_to cl_image_tag(piece.user.profile.avatar, width: 42, height: 42, crop: :fill, gravity: :face, radius: :max, background: '#353535' ), profile_path(piece.user.profile.id), method: :get  %>
    </div>
  </div>
  <div class="img_preview">
    <%= link_to image_tag(piece.image), piece_path( piece.id ), method: :get %>
  </div>
</div>
