<div class="main">
  <% @pieces.each do |piece| %>

    <div class="item">
      <div class="sizeoval">
        <p><%= piece.size %></p>
      </div>
      <div class="infotag">
        <div class="name_item"><%= link_to "#{piece.name}", piece_path( piece.id ) %></div>
        <%= piece.brand %><br/>
        <%= piece.colour %><br/>
      </div>
      <div class="namebar">
        <div class="nametag">
          <%= piece.user.email %>
        </div>
      </div>
      <div class="img_preview">
        <%= image_tag piece.image%>
      </div>
    </div>

  <% end %>
</table>
