<div class="main container">

  <!-- <div class="piece_top">
    <h1><%= @piece.name %></h1>
    <p><%= @piece.brand %></p>
  </div> -->

  <div class="item_show">
    <% if user_signed_in? && @piece.user.id == current_user.id %>
      <div class="user_dash">
      <div class="dash-pauze">
        <%= link_to "", piece_path(@piece.id), remote: true, class: "fa fa-pause" %>
      </div>
      <div class="dash-edit">
        <%= link_to "", edit_piece_path(@piece.id), class: "fa fa-pencil" %>
      </div>
      <div class="dash-delete">
        <%= link_to "", piece_path(@piece.id), method: 'delete', class: "fa fa-trash-o" %>
      </div>
      </div>
    <% end %>
    <div class="img_front">
      <%= image_tag @piece.image.to_s %>
    </div>
    <div class="img_back">
      <%= image_tag @piece.image_b.to_s %>
    </div>
    <div class="item_info">
      <div style="background-color:<%= @piece.colour %>; height:400px;">
        <%= cl_image_tag @piece.image, transformation: [ {effect: 'colorize:80'}] %>
      </div>
      <% if user_signed_in? && @piece.size == current_user.profile.size %>
        <div class="fit item_size">
      <% else %>
        <div class="item_size">
      <% end %>
        <p><%= @piece.size %></p>
      </div>
      <div class="item_heart">
        <% if user_signed_in? && current_user.hearts.ids.include?(@piece.heart.id) %>
          <a id="heart-<%= @piece.heart.id %>" href="#" class="fa fa-heart"></a>
        <% elsif user_signed_in? %>
          <a id="heart-<%= @piece.heart.id %>" href="#" class="fa fa-heart-o"></a>
        <% end %>
      </div>
      <div class="item_header">
        <h1><%= @piece.name.upcase %></h1>
        <p><%= @piece.brand %></p>
      </div>
      <div class="item_description">
        <p><%= @piece.description %></p>
      </div>
      <div class="item_availability">
        <% if @piece.is_available_now? %>
          <h4>Immediately available!</h4>
        <% else %>
          <p>Available from:</p>
          <h4><%= @piece.begin_date.strftime("%d %B %Y") %></h4>
        <% end %>
        <p>Available until:</p>
        <h4><%= @piece.end_date.strftime("%d %B %Y") %></h4>
      </div>
      <% if user_signed_in? && current_user != @piece.user %>
        <div class="item_button btn">
            <%= link_to "", new_deal_path(@piece.id), remote: true, class: " fa fa-shopping-bag" %>
            <%= link_to "I want this piece", new_deal_path(@piece.id), remote: true, id: "book-button" %>
        </div>
      <% elsif !user_signed_in? %>
      <div class="item_button btn">
          <%= link_to "", new_deal_path(@piece.id), class: " fa fa-arrow-circle-o-right" %>
          <%= link_to "   Log in to book", new_user_session_path  %>
      </div>
      <% end %>
    </div>
  </div>
  <div id="checkout_screen" class="hidden">
    <div class="fullscreen_overlay"></div>
    <div class='keepcentered'>
    </div>
  </div>
</div>
