<h1><%= @piece.name %></h1>

<p>Brand: <%= @piece.brand %></p>
<p>Colour: <%= @piece.colour %></p>
<%= image_tag @piece.image.to_s %>
<br>
<%= link_to "[Edit]", edit_piece_path( @piece.id ) %>
<%= link_to "[Delete]", piece_path( @piece.id ), method: :delete, data: { confirm: "Are you sure?" } %>
