<h1><%= @piece.name %></h1>
<p><%= @piece.brand %></p>
<div class="img_show">
  <div class="img_front">
    <%= image_tag @piece.image.to_s %>
  </div>
  <div class="img_back">
    <%= image_tag @piece.image_b.to_s %>
  </div>
</div>
<br>
<%= link_to "[Edit]", edit_piece_path( @piece.id ) %>
<%= link_to "[Delete]", piece_path( @piece.id ), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "[Show all]", pieces_path %>
