<%= form_for @deal, remote: true do |f| %>

<div class="field">
  <%= f.label 'Begin date of your reservation:' %>
  <%= f.date_field :begin_res %>
</div>

<div class="field">
  <%= f.label 'End date of your reservation:' %>
  <%= f.date_field :end_res %>
</div>

<%= hidden_field_tag :piece_id, @piece.id %>

<div class="actions">
<%= f.button :submit %>
</div>

<% end %>
