<div class="img_showpage">
  <%= image_tag @piece.image.to_s %>
</div>

<h4>Book this item</h4>

<h1><%= @piece.name %></h1>

<% if @piece.sizewarning(current_user.profile.size) %>
<div class="warning"><h3>Are you aware that this piece is a size <%= @piece.size %>, not <%= current_user.profile.size %>?</h3></div>
<% end %>

<% if @piece.is_available_now? %>
  <h4><%= @piece.name %> is immediately available.</h4>
<% else %>
  <p>This piece is available from <%= @piece.begin_date.strftime("%d %B %Y") %></p>
<% end %>
<%= render 'deals/form', locals: { deal: Deal.new } %>
