<div class="container">

  <div class="img_showpage">
    <%= image_tag @deal.piece.image.to_s %>
  </div>
  
  <% if @deal.accepted? %>
  <h1>Deal <%= @deal.id %> for <%= @deal.piece.name %> is accepted! Happy sharing!</h1>
  <% else %>
  <h1>Deal <%= @deal.id %> for <%= @deal.piece.name %> is proposed to <%= @deal.piece.user.profile.first_name %></h1>
  <% end %>


  <h1><%= @deal.piece.name %></h1>
  <div class=datarow>
    <div class="tablekey">
      Brand:
    </div>
    <div class="tablevalue">
      <%= @deal.piece.brand %>
    </div>
  </div>
  <div class=datarow>
    <div class="tablekey">
      Size:
    </div>
    <div class="tablevalue">
      <%= @deal.piece.size %>
    </div>
  </div>
  <div class=datarow>
    <div class="tablekey">
      Size:
    </div>
    <div class="tablevalue">
      <%= @deal.piece.colour %>
    </div>
  </div>

  <h1>Period</h1>

  <div class=datarow>
    <div class="tablekey">
      Start reservation:
    </div>
    <div class="tablevalue">
      <%= @deal.begin_res.strftime("%d %B %Y") %>
    </div>
  </div>
  <div class=datarow>
    <div class="tablekey">
      End reservation:
    </div>
    <div class="tablevalue">
      <%= @deal.end_res.strftime("%d %B %Y") %>
    </div>
  </div>
  <br />

</div>
