<div class="container">
  <% if @deal.accepted? %>
  <h1>Deal <%= @deal.id %> for <%= @deal.piece.name %> is accepted! Happy sharing!</h1>
  <% else %>
  <h1>Deal <%= @deal.id %> for <%= @deal.piece.name %> is proposed to <%= @deal.piece.user.profile.first_name %></h1>
  <% end %>

  <div class="img_showpage">
    <%= image_tag @deal.piece.image.to_s %>
  </div>
  Piece: <%= @deal.piece.name %><br />
  Brand: <%= @deal.piece.brand %><br />
  Colour: <%= @deal.piece.colour %><br />
  Size: <%= @deal.piece.size %><br />
  Price category: <%= @deal.piece.price_cat %><br />
  <br />

  <br />
  <table>
    <tr>
      <th>Start date</th>
      <th>End date</th>
    </tr>
    <tr>
      <td><%= @deal.begin_res.strftime("%d %B %Y") %></td>
      <td><%= @deal.end_res.strftime("%d %B %Y") %></td>
    </tr>
  </table>
</div>
