<header>
  <div class="container headcontainer">
    <div class="logo">
      <h1><%= link_to "C U B I C L E", root_path %></h1>
    </div>
    <div class='tabs'>
    </div>
    <div class='userlogin'>
      <ul>
        <% if !user_signed_in? %>
          <table class="signin_table"><tr>
            <th><%= link_to "LOG IN", new_user_session_path %><th>
            <th><%= link_to "SIGN UP", new_user_registration_path %></th>
          </tr></table>
        <% else %>
          <li><span class="navbar-text"><%= current_user.profile.first_name.upcase %> <%= current_user.profile.surname.upcase %></span></li>
          <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
