<nav class="navbar">
  <div class="container">
    <div class="dropdown_box hidden">
      <%= render "layouts/menu_product_types" %>
    </div>
    <ul class="nav">
      <li><%= link_to 'LOOK BY PRODUCT', "#", id: 'nav_product', remote: true %></li>
      <% unless cannot?(:create, Piece) %>
        <li><%= link_to "ADD NEW PIECE", new_piece_path, id: 'add_piece' %></li>
      <% end %>
      <% if user_signed_in? %>
        <% if current_user.has_pieces? %>
          <li><%= link_to "MY PIECES", pieces_owned_path, method: :get %></li>
        <% end %>
        <li><%= link_to "MY DEALS", deals_path %></li>
        <% if current_user.has_hearted? %>
          <li><%= link_to "HEARTED PIECES", pieces_hearted_path, method: :get %></li>
        <% end %>
      <% end %>

    </ul>
  </div>
</nav>
