<!DOCTYPE html>
<html>
  <head>
    <title>Cubicle</title>
    <%= csrf_meta_tags %>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAacLg7pB6yFN69FWJOtJRQMrBWt8a9cwM"></script>
    <!-- <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/nav" %>

    <% if flash[:notice] %>
      <div class="flashbar">
        <div class="container notice"><%= flash[:notice] %></div>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
