<!DOCTYPE html>
<html>
  <head>
    <title>Cubicle</title>
    <!-- <%= csrf_meta_tags %>    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='tabs'>
      </div>
      <div class='userlogin'>
        <ul>
          <% if !user_signed_in? %>
            <li><%= link_to "LOG IN", new_user_session_path %></li>
          <% else %>
            <li><span class="navbar-text"><%= current_user.email.upcase %></span></li>
            <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <nav class="navbar">

    </nav>
    <%= yield %>
  </body>
</html>
